header {
  @include sectionPadding;
  text-align: center;

  h1 {
    margin-top: 4rem;
    font-size: 2rem;
  }
  
  p {
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-size: 1.1rem;
    line-height: 1.8rem;
  }

  .buttonWrapper {
    @include breakpoint(medium) {
      width: 70%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "ios mac";
      gap: 2rem;
      justify-items: center;
      align-items: center;
    }

    .buttonIOS {
      @include button(ios);
      @include hoverEffectBtn;
    }

    .buttonMac {
      @include button(mac);
      @include hoverEffectBtn;
    }
  }
}
